/* Clearing base options */
body {
  color: #595959;
  font-family: Helvetica,sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: #FAF8F3;
}
h1 {
  color: #fff;
  font-size: 2em;
  font-family: 'HelveticaNeueCondensedBold';
}
h2, h3 {
  color: #fff;
  font-size: 1.5em;
  font-family: 'HelveticaNeueCondensedBold';
}
h4 {
  font-size: 1em;
  font-family: 'HelveticaNeueCondensedBold';
}

/* Fonts */
@font-face {
  font-family: 'HelveticaNeueCondensedBold';
  src: url("../fonts/HelveticaNeue-CondensedBold.otf");
  font-style: bold;
}

/* Navigation */
nav {
  padding: 10px 12.5% 0;
  height: 100%;
  position: relative;
  overflow: hidden;
}
nav:after {
  clear:both;
}
.topbar {
    position: relative;
    background: #fffdf8;
    -webkit-box-shadow: 0px 1px 2px 0px #ccc;
    -moz-box-shadow: 0px 1px 2px 0px #ccc;
    box-shadow: 0px 1px 2px 0px #ccc;
    z-index: 1;
}
.logo {
  color: black;
  margin: 0;
  float: left;
  .logo-image {
    padding: 10px;
  }
}
.nav-links {
  float: right;
  font-family: 'HelveticaNeueCondensedBold';
  font-size: 1.25em;
  position: absolute;
  right: 12.5%;
  top: 40%;
  a {
    color: #595959;
    display:inline-block;
    margin: auto 20px auto 0;
    text-decoration: none;
  }
  a:last-child {
    margin: 0;
  }
  a:link,
  a:visited {
    color: #595959;
  }
  a:hover {
    color: #00808e;
  }
}
/* Buttons */
.ghost-btn {
  background: none;
  color: #fff;
  border: 2px solid #fff;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 50px auto 0;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  width: 250px;
}
.ghost-btn:focus,
.ghost-btn:hover {
  color: #fff;
  background-color: #fff;
  background-color: rgba(255,255,255,0.4);
  border-color: #fff;
  border-color: rgba(255,255,255,0.4);
}

/* Home Page */
#home {
  background: url("../images/hero-home.jpg") no-repeat center center;
  background-size: cover;
  min-height: 1000px;
}
#home h1 {
  font-size: 2em;
  margin: 50% auto 20px;
  text-align: center;
}
#home h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #fff;
  text-align: center;
}

/* About/Values Page */
#values .grid:last-child {
  margin-bottom: 30px;
}
#value-header {
  background-color: #d75c35;
}
#value-hero {
  background: url("../images/hero-values.jpg") no-repeat center;
  background-size: cover;
  min-height: 275px;
  background-position: 10% 35%;
}
#values h2 {
  text-align: center;
  margin: 8% auto 0;
}
#values h3 {
  color: #d75c35;
  font-family: 'HelveticaNeueCondensedBold';
}
.value-point {
  float: left;
  font-size: 25px;
  font-weight: bold;
}
.value-text {
  float: left;
  font-size: 16px;
  margin: 0 0 20px 10px;
  width: 75%;
}

/* Staff Page */
#staff .grid:last-child {
  margin-bottom: 30px;
}
#staff-header {
  background-color: #028090;
}
h2#staff-h2, h3#staff-h3 {
  color: #028090;
  text-align: center;
}
ul.staff-member {
  margin: 0 auto;
}
ul.staff-member li {
  display: inline-block;
  margin: 10px;
}
ul.staff-member li p {
  text-align: center;
}
.exec-container {
  margin: 0 auto;
  width: 50%;
}
.staff-container {
  margin: 0 auto;
  width: 75%;
}
#excecutive-staff p {
  text-align: center;
}
.exec {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: block;
}
.other {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  display: block;
}

/* Contact Page */
#contact-header {
  background-color: #ffbf00;
}
#contact-hero {
  background: url("../images/hero-contact.jpg") no-repeat center;
  background-size: cover;
  min-height: 275px;
  background-position: 10% 15%;
}
#contact-hero h2 {
  text-align: center;
  margin: 10% auto 0;
}
#areas {
  background-color: #00808e;
}
.contact-container {
  margin: 0 auto;
  width: 50%;
}
#areas-map {
  width: 300px;
}
#areas h3 {
  color: #ffbf00;
  font-family: 'HelveticaNeueCondensedBold';
  font-size: 2em;
}
#areas p {
  color: #fff;
  font-family: 'HelveticaNeueCondensedBold';
  font-size: 1.5em;
}
#contact-info {
  text-align: left;
  margin: 0 0 60px;
}
#contact-info h4 {
  font-size: 1.25em;
  font-family: 'HelveticaNeueCondensedBold';
}
#contact-info a:link {
  color: #595959;
  text-decoration: none;
}
#contact-info a:hover {
  color: #00808e;
  text-decoration: none;
}

/* Footer */
footer {
  background-color: #c1a896;
  color: #fff;
  padding: 20px;
  text-align: center;
}


/* Responsive Stuff */
@media screen and (max-width: 960px) {
  .exec-container {
    margin: 0 auto;
    width: 80%;
  }
  .staff-container {
    margin: 0 auto;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  nav {
    padding: 0;
  }
  .nav-links {
    position: static;
    padding-bottom: 20px;
    width: 100%;
  }
  .logo {
    width: 100%;
  }
  .logo-image {
    display:block;
    margin: 20px auto;
  }
  #values h2 {
    margin: 25% auto 0;
  }
  #contact-hero h2 {
    margin: 25% auto 0;
  }
  .contact-container {
    margin: 0 auto;
    width: 100%;
  }
  .removePadding {
    padding-left: 0!important;
    padding-right: 0!important;
  }
}
@media screen and (max-width: 480px) {
  .areas-container {
    margin: 0 auto;
    width: 100%;
  }
}
