<header>
  <div class="topbar">
    <div class="grid">
      <div class="unit two-fifths logo center-on-tablets">
        <a href="/">
          <%= image_tag('images/logo.svg', :class => "logo-image") %>
        </a>
      </div>
      <div class="unit three-fifths nav-links center-on-tablets">
        <p>
          <%= link_to("Home", "/") %>
          |
          <%= link_to("Our Values", "/values.html") %>
          |
          <%= link_to("Contact", "/contact.html") %>
        </p>
      </div>
    </div>
  </div>
</header>
