---
title: About Us | Rehab Staffing Solutions
---

<div id="values">
<div id="value-header" class="grid">
  <div class="unit one-eighth hide-on-tablets">
    &nbsp;
  </div>
  <div class="unit seven-eighths center-on-tablets">
    <h1>ABOUT US</h1>
  </div>
</div>
<div id="value-hero" class="grid">
  <div class="unit whole">
    <h2>"We believe that the values of a company speak volumes. These are ours."</h2>
  </div>
</div>
<div class="grid">
  <div class="unit one-eighth hide-on-tablets">
    &nbsp;
  </div>
  <div class="unit seven-eighths">
    <div class="grid">
      <div class="unit whole">
        <h3>OUR VALUES</h3>
      </div>
    </div>
    <div class="grid">
      <div class="unit whole center-on-tablets">
        <div class="value-point">01.</div>
        <div class="value-text">
          <b>Competent clinical staff are the cornerstone of your business.</b>
          <br> We understand this and therefore provide only the very best PT,OT,PTA, and COTA staff for your patients.
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="unit whole center-on-tablets">
        <div class="value-point">02.</div>
        <div class="value-text">
          <b>Zero patient complaints. 100% HHA satisfaction.</b>
          <br> We strive for complete patient satisfaction while also meeting the agencies' and physician requirements.
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="unit whole center-on-tablets">
        <div class="value-point">03.</div>
        <div class="value-text">
          <b>Personal, compassionate care for each patient.</b>
          <br> We support each patient and recognize that each is an individual person with their own needs.
        </div>
      </div>
    </div>

    <div class="grid">
      <div class="unit whole center-on-tablets">
        <div class="value-point">04.</div>
        <div class="value-text">
          <b>24 hour turn around on electronic documentation.</b>
          <br> Having up to date information is important to the smooth operation of your agency and for the optimal care of your patients. Therefore, our clinicians are committed to accurate and timely documentation.
        </div>
      </div>
    </div>

    <div class="grid">
      <div class="unit whole center-on-tablets">
        <div class="value-point">05.</div>
        <div class="value-text">
          <b>48 hour max time to initial patient evaluation.</b>
          <br> We understand that timely therapy improves patient outcomes. To that end, we perform all initial evaluations within 48 hours of receiving physician’s orders, though we aim for a 24 hour objective.
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="unit whole center-on-tablets">
        <div class="value-point">06.</div>
        <div class="value-text">
          <b>Visits performed according to frequency and duration.</b>
          <br> Unless modified by the patient's needs we perform all treatments as required by the plan of care and strive for zero missed appointments.
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
