---
title: Home | Rehab Staffing Solutions
---

<div class="grid">
  <div class="unit one-fifth hide-on-tablets">
    &nbsp;
  </div>
  <div class="unit three-fifths main-banner">
    <h1>
      Contact Us.
      <br/>
      We're happy to help.
    </h1>
  </div>
</div>
<div class="grid">
  <!--
    <div class="unit half hide-on-tablets">
      <div>
        <%= image_tag('images/headshot-placeholder.png', class: "pull-right", style: "height: 18em;") %>
      </div>
    </div>
  -->
  <div class="unit whole center-on-tablets contact-info">
    <h1 class="admin">
      Administrative Contact
    </h1>
    <h1>
      Jared Koumentis
      <br/>
      Chief Operations Officer
    </h1>
    <p class="email-and-address">
      Jared@RehabStaffingSolutions.com
    </p>
    <p class="email-and-address">
      325 SE 52nd CT
      <br/>
      Ocala, FL 34471
      <br/>
      352-387-7831
    </p>
  </div>
</div>
