---
title: Home | Rehab Staffing Solutions
---

<div class="grid">
  <div class="unit one-fifth hide-on-tablets">
    &nbsp;
  </div>
  <div class="unit three-fifths main-banner">
    <h1>
      We provide the highest quality, consistent, rehab staffing that exceeds the expectations of the Patient, the referring Physician, and the Home Health Agency.
    </h1>
  </div>
</div>
<div class="grid" style="margin-top:1em;">
  <div class="unit whole">
    <h1 style="color:353E58; font-family: Helvetica,sans-serif; text-align:center; padding:0px; margin-top:0.1em; margin-bottom:0.1em;">
      Executive Team
    </h1>
  </div>
</div>
<div class="grid">
  <div class="unit one-third">
    <div>
      <%= image_tag('images/headshot-placeholder.png', class: "headshot") %>
    </div>
    <p class="headshot-text">
      Lisa Cantrell, PTA
      <br/>
      Chief Executive Officer
    </p>
  </div>
  <div class="unit one-third">
    <div>
      <%= image_tag('images/headshot-placeholder.png', class: "headshot") %>
    </div>
    <p class="headshot-text">
      Bud Cantrell, MPT, CLT, DPT
      <br/>
      President
    </p>
  </div>
  <div class="unit one-third">
    <div>
      <%= image_tag('images/headshot-placeholder.png', class: "headshot") %>
    </div>
    <p class="headshot-text">
      Jared Koumentis
      <br/>
      Chief Operations Officer
    </p>
  </div>
</div>
<div class="grid" style="margin-top:1em;">
  <div class="unit whole">
    <h1 style="color:353E58; font-family: Helvetica,sans-serif; text-align:center; padding:0px; margin-top:0.1em; margin-bottom:0.1em;">
      Areas We Serve
    </h1>
  </div>
</div>
<div class="grid">
  <div class="unit half hide-on-tablets">
    <div>
      <%= image_tag('images/counties.svg', class: "pull-right", style: "height: 18em;") %>
    </div>
  </div>
  <div class="unit half center-on-tablets">
    <h1 style="font-family: Helvetica,sans-serif; font-weight:normal;">
      Marion, Citrus,
      <br/>
      Sumter, and Lake
      <br/>
      Counties in
      <br/>
      North Central Florida
    </h1>
  </div>
</div>
