---
title: Home | Rehab Staffing Solutions
---

<div id="staff">
  <div id="staff-header" class="grid">
    <div class="unit one-eighth hide-on-tablets">
      &nbsp;
    </div>
    <div class="unit seven-eighths center-on-tablets">
      <h1>OUR STAFF</h1>
    </div>
  </div>
  <div class="grid">
    <div class="unit whole center-on-tablet">
      <h2 id="staff-h2">Executive Team</h2>
    </div>
  </div>
  <div class="grid">
    <div id="excecutive-staff" class="exec-container">
      <div class="unit half center-on-tablets">
        <img src="images/staff/boyd-cantrell.png" class="exec">
        <p>
          <b>Boyd Cantrell</b>
          <br> DPT
        </p>
      </div>
      <div class="unit half center-on-tablets">
        <img src="images/staff/lisa-cantrell.png" class="exec">
        <p>
          <b>Lisa Cantrell</b>
          <br> PTA
        </p>
      </div>
    </div>

  </div>
  <div class="grid">
    <div class="unit whole center-on-tablet">
      <h3 id="staff-h3">Other Staff</h3>
    </div>
  </div>
  <div class="grid">
    <div class="staff-container center-on-tablets">
      <ul class="staff-member removePadding">
        <li>
          <img src="images/staff/albert-edwards.png" class="other">
          <p>
            <b>Albert Edwards</b>
            <br> DPT
          </p>
        </li>
        <li>
          <img src="images/staff/amin-khan.png" class="other">
          <p>
            <b>Amin Khan</b>
            <br> PT
          </p>
        </li>
        <li>
          <img src="images/staff/chante-perry.png" class="other">
          <p>
            <b>Chante Perry</b>
            <br> DPT
          </p>
        </li>
        <li>
          <img src="images/staff/dana-keene.png" class="other">
          <p>
            <b>Dana Keene</b>
            <br> PTA
          </p>
        </li>
        <li>
          <img src="images/staff/debra-barker.png" class="other">
          <p>
            <b>Debra Barker</b>
            <br> PTA
          </p>
        </li>
        <li>
          <img src="images/staff/dustin-hawkins.png" class="other">
          <p>
            <b>Dustin Hawkins</b>
            <br> PTA
          </p>
        </li>
        <li>
          <img src="images/staff/emilia-rodriguez.png" class="other">
          <p>
            <b>Emilia Rodriguez</b>
            <br> PTA
          </p>
        </li>
        <li>
          <img src="images/staff/jacob-kimmig.png" class="other">
          <p>
            <b>Jacob Kimmig</b>
            <br> Rehab Tech
          </p>
        </li>
        <li>
          <img src="images/staff/gwen-tobianski.png" class="other">
          <p>
            <b>Gwen Tobianski</b>
            <br> OT
          </p>
        </li>
        <li>
          <img src="images/staff/jennifer-mcmurray.png" class="other">
          <p>
            <b>Jennifer McMurray</b>
            <br> PTA
          </p>
        </li>
        <li>
          <img src="images/staff/lisa-george.png" class="other">
          <p>
            <b>Lisa George</b>
            <br> PT
          </p>
        </li>
        <li>
          <img src="images/staff/lyndi-dyson.png" class="other">
          <p>
            <b>Lyndi Dyson</b>
            <br> Administrator
          </p>
        </li>
        <li>
          <img src="images/staff/maria-ceballos.png" class="other">
          <p>
            <b>Maria Ceballos</b>
            <br> DPT
          </p>
        </li>
        <li>
          <img src="images/staff/michelle-bixler.png" class="other">
          <p>
            <b>Michelle Bixler</b>
            <br> PTA
          </p>
        </li>
        <li>
          <img src="images/staff/samantha-stryke.png" class="other">
          <p>
            <b>Samantha Stryke</b>
            <br> PTA
          </p>
        </li>
        <li>
          <img src="images/staff/stephen-lescarbeau.png" class="other">
          <p>
            <b>Stephen Lescarbeau</b>
            <br> PTA
          </p>
        </li>
        <li>
          <img src="images/staff/steve-dysert.png" class="other">
          <p>
            <b>Steve Dysert</b>
            <br> OT
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
