---
title: Staff | Rehab Staffing Solutions
---

<div id="staff">
  <div id="staff-header" class="grid">
    <div class="unit one-eighth hide-on-tablets">
      &nbsp;
    </div>
    <div class="unit seven-eighths center-on-tablets">
      <h1>OUR STAFF</h1>
    </div>
  </div>
  <div class="grid">
    <div class="unit whole center-on-tablet">
      <h2 id="staff-h2">Executive Team</h2>
    </div>
  </div>
  <div class="grid wrap wider align-center center-on-tablets">
    <div class="exec-block">
      <img src="images/staff/boyd-cantrell-web.jpg" class="exec">
      <p>
        <b>Boyd Cantrell</b>
        <br>
        DPT
      </p>
    </div>
    <div class="exec-block">
      <img src="images/staff/lisa-cantrell-web.jpg" class="exec">
      <p>
        <b>Lisa Cantrell</b>
        <br>
        PTA
      </p>
    </div>
  </div>
  <div class="grid">
    <div class="unit whole center-on-tablets">
      <h3 id="staff-h3">Team Members</h3>
    </div>
  </div>
  <div class="grid wrap wider align-center center-on-tablets">

    <div class="staff-block">
      <img src="images/staff/kerri-barrentine-web.jpg" class="other">
      <p>
        <b>Kerri Barrentine</b>
        <br>
        OT
      </p>
    </div>

    <div class="staff-block">
      <img src="images/staff/michelle-bixler-web.jpg" class="other">
      <p class="align-center">
        <b>Michelle Bixler</b>
        <br>
        PTA
      </p>
    </div>

    <div class="staff-block">
      <img src="images/staff/eva-ceballos-web.jpg" class="other">
      <p>
        <b>Eva Ceballos</b>
        <br>
        PTA
      </p>
    </div>

    <div class="staff-block">
      <img src="images/staff/maria-ceballos-web.jpg" class="other">
      <p>
        <b>Maria Ceballos</b>
        <br>
        DPT
      </p>
    </div>

    <div class="staff-block">
      <img src="images/staff/lyndi-dyson-web.jpg" class="other">
      <p>
        <b>Lyndi Dyson</b>
        <br>
        Administrator
      </p>
    </div>

    <div class="staff-block">
      <img src="images/staff/albert-edwards-web.jpg" class="other">
      <p>
        <b>Albert Edwards</b>
        <br>
        DPT
      </p>
    </div>

    <div class="staff-block">
      <img src="images/staff/joy-garza-web.jpg" class="other">
      <p>
        <b>Joy Garza</b>
        <br>
        DPT
      </p>
    </div>

    <div class="staff-block">
      <img src="images/staff/lisa-george-web.jpg" class="other">
      <p>
        <b>Lisa George</b>
        <br>
        PT
      </p>
    </div>

    <div class="staff-block">
      <img src="images/staff/jennifer-harris-web.jpg" class="other">
      <p>
        <b>Jennifer Harris</b>
        <br>
        PTA
      </p>
    </div>

    <div class="staff-block">
      <img src="images/staff/dustin-hawkins-web.jpg" class="other">
      <p>
        <b>Dustin Hawkins</b>
        <br>
        PTA
      </p>
    </div>

    <div class="staff-block">
      <img src="images/staff/naomi-kane-web.jpg" class="other">
      <p>
        <b>Naomi Kane</b>
        <br>
        PTA
      </p>
    </div>

    <div class="staff-block">
      <img src="images/staff/dana-keene-web.jpg" class="other">
      <p>
        <b>Dana Keene</b>
        <br>
        PTA
      </p>
    </div>

    <div class="staff-block">
      <img src="images/staff/amin-khan-web.jpg" class="other">
      <p>
        <b>Amin Khan</b>
        <br>
        PT
      </p>
    </div>

    <div class="staff-block">
      <img src="images/staff/brooke-kimmig-web.jpg" class="other">
      <p>
        <b>Brooke Kimmig</b>
        <br>
        Business Assistant
      </p>
    </div>

    <div class="staff-block">
      <img src="images/staff/jacob-kimmig-web.jpg" class="other">
      <p>
        <b>Jacob Kimmig</b>
        <br>
        Administrator
      </p>
    </div>

    <div class="staff-block">
      <img src="images/staff/stephen-lescarbeau-web.jpg" class="other">
      <p>
        <b>Stephen Lescarbeau</b>
        <br>
        PTA
      </p>
    </div>

    <div class="staff-block">
      <img src="images/staff/jennifer-mcmurray-web.jpg" class="other">
      <p>
        <b>Jennifer McMurray</b>
        <br>
        PTA
      </p>
    </div>

    <div class="staff-block">
      <img src="images/staff/anthony-quintana.jpg" class="other">
      <p>
        <b>Anthony Quintana</b>
        <br>
        PTA
      </p>
    </div>

    <div class="staff-block">
      <img src="images/staff/quaterian-robinson.jpg" class="other">
      <p>
        <b>Quaterian Robinson</b>
        <br>
        COTA
      </p>
    </div>

    <div class="staff-block">
      <img src="images/staff/emilia-rodriguez-web.jpg" class="other">
      <p>
        <b>Emilia Rodriguez</b>
        <br>
        PTA
      </p>
    </div>

    <div class="staff-block">
      <img src="images/staff/sean-stockdale-web.jpg" class="other">
      <p>
        <b>Sean Stockdale</b>
        <br>
        COTA
      </p>
    </div>

    <div class="staff-block">
      <img src="images/staff/samantha-stryke-web.jpg" class="other">
      <p>
        <b>Samantha Stryke</b>
        <br>
        PTA
      </p>
    </div>

    <div class="staff-block">
      <img src="images/staff/gwen-tobianski-web.jpg" class="other">
      <p>
        <b>Gwen Tobianski</b>
        <br>
        OT
      </p>
    </div>
  </div>
</div>
