---
title: Staff | Rehab Staffing Solutions
---

<div id="staff">
  <div id="staff-header" class="grid">
    <div class="unit one-eighth hide-on-tablets">
      &nbsp;
    </div>
    <div class="unit seven-eighths center-on-tablets">
      <h1>OUR STAFF</h1>
    </div>
  </div>
  <div class="grid">
    <div class="unit whole center-on-tablet">
      <h2 id="staff-h2">Executive Team</h2>
    </div>
  </div>
  <div class="grid wrap wider align-center center-on-tablets">
    <div class="exec-block">
      <img src="images/staff/boyd-cantrell-web.jpg" class="exec">
      <p>
        <b>Boyd Cantrell, DPT</b>
        <br>
        President
      </p>
    </div>
    <div class="exec-block">
      <img src="images/staff/lisa-cantrell-web.jpg" class="exec">
      <p>
        <b>Lisa Cantrell, PTA</b>
        <br>
        CEO
      </p>
    </div>
    <div class="exec-block">
      <img src="images/staff/jacob-kimmig-web.jpg" class="exec">
      <p>
        <b>Jacob Kimmig</b>
        <br>
        Business Operations
      </p>
    </div>
  </div>
</div>
