---
title: Our Values | Rehab Staffing Solutions
---

<div class="grid">
  <div class="unit one-fifth hide-on-tablets">
    &nbsp;
  </div>
  <div class="unit three-fifths main-banner">
    <h1>
      We believe that the values of a company speak volumes.
      <br/>
      These are ours.
    </h1>
  </div>
</div>
<div class="grid">
  <div class="unit whole center-on-tablets value-points">
    <p>
      1. Only highly skilled clinicians will see your patients.
    </p>
    <p class="subpoint">
      Highly skilled clinical staff are the cornerstone of your business. We understand and recognize this and strive to provide only the very best PT and PTA staff for your patients.
    </p>
    <p>
      2. Zero patient complaints. 100% HHA satisfaction.
    </p>
    <p class="subpoint">
      We strive to have no patient complaints and to fully satisfy the home health agency’s requirements.
    </p>
    <p>
      3. Personal, compasionate care for each patient.
    </p>
    <p class="subpoint">
      We support each patient and recognize that each is an individual person with their own needs.
    </p>
    <p>
      4. 24 hour turn around on electronic documentation.
    </p>
    <p class="subpoint">
      Having up-to-date information on your patients is important to the smooth operating of your agency and the optimal care of your patients. To this end, we are timely in our documentation.
    </p>
    <p>
      5. 48 hour max time to initial patient evalation.
    </p>
    <p class="subpoint">
      We understand that timely therapy improves patient outcomes. To that end, we perform all initial evaluations within 48 hours of recieving physician’s orders, though we aim for a 24 hour objective.
    </p>
    <p>
      6. Visits performed according to frequency and duration.
    </p>
    <p class="subpoint">
      Unless modified by the patient’s needs during re-evaluation, we perform all treatment to the required frequency and duration, and strive for zero missed visits. This benefits both patient and agency.
    </p>
  </div>
</div>
